.header-home {
  height: 600px;
}
.title-kanye {
  font-size: 70px;
}
.imagem-kanye {
  width: 120px;
  height: 100px;
}
.container-header-box {
  box-shadow: 0px 0px 5px #000;
  height: 180px;
  width: 500px;
}
.teste {
  width: 1600px;
}
.sm {
  width: 100%;
}
/* .header-texto-kanye {
  font-size: 5px;
} */
body {
  background-image: url("../../Assets/backgroundsite.jpg");
}
