.header-home {
  height: 600px;
}
.title-kanye {
  font-size: 70px;
}
.imagem-kanye {
  width: 120px;
  height: 100px;
}
.container-header-box {
  height: 180px;
  width: 500px;
}
/* .header-texto-kanye {
  font-size: 5px;
} */
body {
  background-image: url("../../Assets/backgroundsite.jpg");
}
